<div id="titlePrincipal">
    <h2>Carritos</h2>
</div>

<div class="form-cart">
    {{#each cartsProducts}}
        <li class="card text-center mt-2 mb-2" style="width: 50rem">
            <h3>Carrito con ID: {{this._id}}</h3>
        </li>
    {{/each}}
</div> 